<template>
    <div>
        <div class="jumbotron mb-0">
            <h1>{{$t('sharedCharacters')}}</h1>
            <p class="lead mb-0">{{$t('charactersPageDescription')}}</p>
        </div>
        <character-pagelet v-if="getCharacter"></character-pagelet>
        <characters-search></characters-search>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex'
    import CharactersSearch from "../../components/character-search";
    import CharacterPagelet from "../../components/character-pagelet";

    export default {
        components: {CharacterPagelet, CharactersSearch},
        computed: {
            ...mapGetters([
                'getCharacter'
            ])
        }
    }
</script>
