<template>
    <div>
        <div class="jumbotron mb-0">
            <h1>{{$t('sharedPlanets')}}</h1>
            <p class="lead mb-0">{{$t('planetsPageDescription')}}</p>
        </div>
        <planet-pagelet v-if="getPlanet" :planet="getPlanet"></planet-pagelet>
        <planets-search></planets-search>
    </div>
</template>

<script>

    import {mapGetters} from 'vuex'
    import PlanetsSearch from "../../components/planet-search";
    import PlanetPagelet from "../../components/planet-pagelet";

    export default {
        components: {PlanetPagelet, PlanetsSearch},
        computed: {
            ...mapGetters(['getPlanet'])
        }
    }
</script>
