<template>
    <div>
        <div class="jumbotron mb-0">
            <h1>{{$t('sharedStarships')}}</h1>
            <p class="lead mb-0">{{$t('starshipsPageDescription')}}</p>
        </div>
        <starship-pagelet v-if="getStarship"></starship-pagelet>
        <starship-search></starship-search>
    </div>
</template>
<script>
    import StarshipSearch from "../../components/starship-pagelet";
    import {mapGetters} from 'vuex'
    import StarshipPagelet from "../../components/starship-toplet";
    export default {
        components: {StarshipPagelet, StarshipSearch},
        computed: {
            ...mapGetters([
                'getStarship'
            ])
        }
    }
</script>