<template>
    <div>
        <img class="mt-5" src="images/star-wars-logo.png" width="250">
        <div class="jumbotron transparent">
            <div class="row">
                <div class="col-md-10 col-lg-6 ml-auto mr-auto">
                    <div class="writingBlock">
                        <h1>{{$t('homePageTitle')}}</h1>
                        <p class="lead">{{$t('homePageDescription')}}</p>
                    </div>
                </div>
            </div>



        </div>
        <div class="row flex-nowrap" style="overflow-x: auto">
            <div
                    class="col-8 col-lg-3 col-md-4 col-sm-8 mb-3 mb-md-0 mb-lg-0"
                    v-for="(item, index) in coreCategories"
                    :class="{'ml-auto': index == 0, 'mr-auto': index === (coreCategories.length -1)}"
                 :key="'category-' + index">
                    <div class="card home-category">
                        <router-link :to="{name: item.routeName}">
                        <img class="embed-responsive" :src="item.image" :alt="item.alt">
                        <div class="card-body">
                            <div class="sw-text text-secondary">
                                {{item.name}}
                            </div>
                        </div>
                        </router-link>
                    </div>
            </div>
        </div>
    </div>
</template>
<script>
    import coreCategoriesMixin from '../mixins/categoriesMixin'
    export default {
        mixins: [coreCategoriesMixin],
        name: 'home',
    }
</script>
<style lang="scss">
    @import '../style/colors';
</style>
