// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
// Your variable overrides
$body-bg: red;
$body-color: black;
$card-bg: rgba(0, 190, 190, 0.1);
$card-border-color: #003535;
$headings-font-family: STARWARS;
$font-family-sans-serif: 'Source Code Pro';

$jumbotron-bg: black;
$dark: #222222;
$theme-colors: (
        "primary": #03BCBC,
        'secondary': #00bebe,
        "danger": #ff4136
);

.nav-tabs {
  font-family: STARWARS;
  position: relative;
  z-index: 9999;
  margin-top: -2px;
}
$nav-tabs-border-color: transparent;

$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-link-active-bg: rgba(3, 188, 188, 0.41);
$nav-tabs-link-active-border-color: #03BCBC;
$nav-tabs-border-radius: 0px 0px 0px 0px;
$link-color: #03BCBC;
$link-hover-color: #039f9f;
$input-bg: rgba(0, 190, 190, 0.1);
$input-border-color: #003535;
$input-focus-bg: transparent;
$input-focus-border-color: transparent;
$input-box-shadow: none;
$input-color: white;
$input-focus-color: white;

a:hover {
  text-decoration: none;
}

.nav-tabs a.nav-link.active {
  color: $link-color !important;
}

.lead {
  line-height: 1.5;
}

.form-control:focus {
  border-color: transparent;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: -webkit-focus-ring-color auto 5px;
}

.jumbotron {
  background: black;
  &.transparent {
    background: transparent;
  }
}

.card {
  .card-body {
    color: $cardTextColor;
  }
  a:hover {
    text-decoration: none;
  }
  a:hover > .card-body {
    color: #47c5e2;
  }
}

.nav-link {
  &.router-link-active, &.router-link-exact-active {
    background: rgba(0, 190, 190, 0.4);
    border-radius: 0px 0px 5px 5px;
    border-top: none;
  }
}

ul.nav.nav-tabs {
  border-top: 6px solid rgba(0, 190, 190, 0.4);
}

.pull-right {
  float:right;
}

@import "node_modules/bootstrap/scss/bootstrap.scss";

.btn-console {
  font-family: STARWARS;
  font-size: 14px;
  display: inline-block;
  width: 143px;
  height: 30px;
  padding: 4px;
  position: relative;
  color: #03BCBC;
  background-color: transparent;
  border: 2px solid #03BCBC;
  -webkit-transition: all .7s ease;
  transition: all .7s ease;

  &.btn-mini {
    width: 80px;
    height: 30px;
    &:before {
      width: 89px;
      height: 38px;
    }
  }

  &:before {
    display: inline-block;
    content: '';
    border: 2px transparent solid;
    position: absolute;
    left: -6px;
    top: -6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 151px;
    height: 38px;

  }
  &:after {
    display: block;
    content: '';
    clear: both;
  }
  &:hover {
    background-color: transparent;
    color: white;
    border-radius: 20px;

    &:before {
      border-radius: 20px;
      transition: all .7s ease;
      border: 2px #03BCBC solid;
    }

  }
}