@function genStars($n) {
  $value: "#{random(2000)}px #{random(2000)}px #FFF";

  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
  }

  @return unquote($value);
}

$shadows-small: genStars(700);
$shadows-medium: genStars(200);
$shadows-big: genStars(100);

@-webkit-keyframes moveStars {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2000px);
  }
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .stars-background {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    animation: moveStars 130s linear infinite
  }

  .stars-foreground {
    width: 3px;
    height: 3px;
    box-shadow: $shadows-big;
    background: transparent;
    border-radius: 50%;
    // background: url(/images/stars-foreground.png) repeat 35% 35%;
    animation: moveStars 150s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-big;
    }
  }



  .stars-midground {
    width: 2px;
    height: 2px;
    box-shadow: $shadows-medium;
    background: transparent;
    // background: url(/images/stars-foreground.png) repeat 35% 35%;
    animation: moveStars 150s linear infinite;
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $shadows-medium;
    }
  }

}








