.vertical-center {
  position: absolute;
  height:100%;
  width:100%;

  text-align: center;
  font: 0/0 a;
}

.vertical-center:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.vertical-center > .container {
  display: inline-block;
  vertical-align: middle;
  font: 16px/1 "Source Sans Pro", Helvetica, Arial, sans-serif;
}

@media (max-width: 768px) {
  .vertical-center:before {
    display: none;
  }
}