<template>
    <div>
        <div class="card mt-3 mb-4" v-if="getCharacter.name">
            <div class="card-body">
                <button type="button" class="btn btn-console btn-mini pull-right"
                        @click="$store.commit('clearCharacter')">Close
                </button>
                <h2>{{getCharacter.name}}</h2>
                <div v-if="getCharacter.speciesData">
                    <div>{{$t('characterGender')}}: {{getCharacter.gender}}</div>
                    <div>{{$t('characterEyeColor')}}: {{getCharacter.eye_color}}</div>
                    <div>{{$t('characterHairColor')}}: {{getCharacter.hair_color}}</div>
                    <div>{{$t('speciesName')}}: {{getCharacter.speciesData[0].name}}</div>
                    <div>{{$t('speciesClassification')}}: {{getCharacter.speciesData[0].classification}}</div>
                    <div>{{$t('speciesDesignation')}}: {{getCharacter.speciesData[0].designation}}</div>
                    <div>{{$t('speciesLanguage')}}: {{getCharacter.speciesData[0].language}}</div>
                    <div>{{$t('characterHomeworld' )}}: {{getHomeworld.name}}</div>



                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import numeral from 'numeral'
    import {mapGetters} from 'vuex'
    import PlanetPagelet from "./planet-pagelet";

    export default {
        name: 'character-pagelet',
        components: {PlanetPagelet},
        methods: {
            humanizeNum(num) {
                return numeral(num).format("0,0")
            }
        },
        computed: {
            ...mapGetters(['getCharacter', 'getAllPlanets']),
            getHomeworld() {
                let homeWorld = this.getCharacter.homeworld;
                return this.$store.getters.getAllPlanets.filter(function (item) {
                    return item.url === homeWorld;
                })[0]
            }
        }
    }
</script>
