<template>
    <div class="card">
        <div class="card-body">
            <div>
                <div class="card mb-3">
                    <input class="form-control" :placeholder="$t('sharedFilter')" type="text" v-model="filterValue">
                </div>
                <div v-for="(item, index) in filteredCharacters" :key="'character-'+ index">
                    <div class="card card-lite" :class="{'mb-3': index !== (filteredCharacters.length-1)}">
                        <div class="card-body">
                            <div class="sw-text text-primary mb-1">
                                {{item.name}}
                            </div>
                            <div v-if="item.speciesData" class="text-lg-left text-primary mb-3">{{$t('speciesName')}}:
                                {{item.speciesData.name}}
                            </div>
                            <button @click="fetchCharacter(item)" class="btn btn-console"> {{$t('characterView')}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import _ from 'lodash'
    import {mapGetters} from 'vuex'


    export default {
        name: 'characters-search',
        data() {
            return {
                filterValue: ""
            }
        },
        methods: {
            fetchCharacter(item) {
                this.$store.dispatch('getCharacter', item.url);
            }
        },
        computed: {
            filteredCharacters() {
                let self = this;
                return _.filter(self.getAllCharacters, function (item) {
                    if (_.has(self.getCharactersData, 'count')) {
                        return item.name
                            .trim()
                            .toUpperCase()
                            .replace('-', '')
                            .replace(' ', '')
                            .indexOf(self.filterValue
                                .toUpperCase()
                                .replace(' ', '')
                                .trim()
                            ) > -1;

                    }
                })
            },
            ...mapGetters([
                'getCharactersData',
                'getAllCharacters'
            ])
        }
    }
</script>
