<template>
    <div>
        <div class="card mt-3 mb-4" v-if="planet.name">
            <div class="card-body">
                <button type="button" class="btn btn-console btn-mini pull-right" @click="$store.commit('clearPlanet')">Close</button>
                <h2>{{planet.name}}</h2>
                <div>{{$t('planetSharedPopulation')}}: {{humanizeNum(planet.population)}}</div>
                <div>{{$t('planetResidents')}}: {{humanizeNum(planet.residents)}}</div>
                <div>{{$t('planetTerrain')}}: {{planet.terrain}}</div>
                <div>{{$t('planetClimate')}}: {{planet.climate}}</div>
                <div>{{$t('planetDiameter')}}: {{humanizeNum(planet.diameter)}} km</div>
                <div v-if="planet.gravity != 'unknown'">{{$t('planetGravity')}}: {{planet.gravity}}</div>
                <div v-if="planet.surface_water != 'unknown'">{{$t('planetSurfaceWater')}}: {{planet.surface_water}}%</div>
                <div v-if="planet.rotation_period != 'unknown'">{{$t('planetRotationPeriod')}}: {{planet.rotation_period}} h</div>
                <div v-if="planet.orbital_period != 'unknown'">{{$t('planetOrbitalPeriod')}}: {{planet.orbital_period}} d</div>
            </div>
        </div>
    </div>
</template>

<script>
    import numeral from 'numeral'
    import {mapGetters} from 'vuex'
    export default {
        name: 'planet-pagelet',
        props: ['planet'],
        methods: {
            humanizeNum(num) {
                return numeral(num).format("0,0")
            }

        }
    }
</script>
