<template>
    <div class="card">
        <div class="card-body">
            <div>
                <div class="card mb-3">
                    <input class="form-control" :placeholder="$t('sharedFilter')" type="text" v-model="filterValue">
                </div>
                <div v-for="(item, index) in filteredPlanets" :key="'planet-'+ index">
                    <div class="card card-lite" :class="{'mb-3': index !== (filteredPlanets.length-1)}">
                        <div class="card-body">
                            <div class="sw-text text-primary mb-1">
                                {{item.name}}
                            </div>
                            <div class="mb-3 text-primary">{{$t('planetTerrain')}}: {{item.terrain}}</div>
                            <button class="btn-console" @click="$store.dispatch('getPlanet', item.url)">{{$t('planetView')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import _ from 'lodash'
    import {mapGetters} from 'vuex'
    export default {
        name: 'planets-search',
        data() {
            return {
                filterValue: ""
            }
        },
        computed: {
            filteredPlanets() {
                let self = this;
                return _.filter(self.getAllPlanets, function (item) {
                    if (_.has(self.getPlanetsData, 'count')) {
                        return item.name
                            .trim()
                            .toUpperCase()
                            .replace('-', '')
                            .replace(' ', '')
                            .indexOf(self.filterValue
                                .toUpperCase()
                                .replace(' ', '')
                                .trim()
                            ) > -1;
                    }
                })
            },
            ...mapGetters([
                'getPlanetsData',
                'getAllPlanets'
            ])
        }
    }
</script>
