<template>
    <div class="card">
        <div class="card-body">
            <div>
                <div class="card mb-3">
                    <input class="form-control" :placeholder="$t('sharedFilter')" type="text" v-model="filterValue">
                </div>
                <div v-for="(item, index) in filteredStarships" :key="'starship-'+ index">
                    <div class="card card-lite" :class="{'mb-3': index !== (filteredStarships.length-1)}">
                        <div class="card-body">
                            <div class="sw-text text-primary mb-1">
                                {{item.name}}
                            </div>

                            <div class="text-lg-left text-primary mb-3">{{$t('starshipManufacturer')}}: {{item.manufacturer}}</div>

                            <button @click="fetchStarship(item)" class="btn btn-console"> {{$t('starshipView')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import _ from 'lodash'
    import {mapGetters} from 'vuex'


    export default {
        name: 'starship-search',
        data() {
            return {
                filterValue: ""
            }
        },
        methods: {
            fetchStarship(item) {
                this.$store.dispatch('getStarship', item.url);
            }
        },
        computed: {
            filteredStarships() {
                let self = this;
                return _.filter(self.getAllStarships, function (item) {
                    if (_.has(self.getStarshipsData, 'count')) {
                        return item.name
                            .trim()
                            .toUpperCase()
                            .replace('-', '')
                            .replace(' ', '')
                            .indexOf(self.filterValue
                                .toUpperCase()
                                .replace(' ', '')
                                .trim()
                            ) > -1;
                    }
                })
            },
            ...mapGetters([
                'getStarshipsData',
                'getAllStarships'
            ])
        }
    }
</script>
