<template>
    <div>
        <div class="card mt-3 mb-4">
            <div class="card-body">
                <button type="button" class="btn btn-console btn-mini pull-right"
                        @click="$store.commit('clearStarship')">Close
                </button>
                <h2>{{getStarship.name}}</h2>
                <div>{{$t('starshipModel')}}: {{getStarship.model}}</div>
                <div>{{$t('starshipCrew')}}: {{humanizeNum(getStarship.crew)}}</div>
                <div>{{$t('starshipManufacturer')}}: {{getStarship.manufacturer}}</div>
                <div>{{$t('starshipLength')}}: {{humanizeNum(getStarship.length)}} m</div>
                <div>{{$t('starshipCargoCapacity')}}: {{humanizeNum(getStarship.cargo_capacity)}} kg</div>
                <div>{{$t('starshipCostInCredits')}}: {{humanizeNum(getStarship.cost_in_credits)}} credits</div>
            </div>
        </div>
    </div>
</template>
<script>
    import numeral from 'numeral'
    import {mapGetters} from 'vuex'
    export default {
        name: 'starship-pagelet',
        methods: {
            humanizeNum(num) {
                return numeral(num).format("0,0")
            }
        },
        computed: {
            ...mapGetters(['getStarship'])
        }
    }
</script>