<template>
    <div id="app">
        <div class="container pl-0 pr-0">
            <ul class="nav nav-tabs flex-nowrap " style="overflow-y:hidden;overflow-x: auto;">
                <li class="nav-item">
                    <router-link class="nav-link" :to="{name: 'home'}">
                        {{$t('sharedHome')}}
                    </router-link>
                </li>
                <li v-for="(item, index) in coreCategories" :key="'category-'+index" class="nav-item">
                    <router-link class="nav-link" :to="{name: item.routeName}">
                        {{item.name}}
                    </router-link>
                </li>
            </ul>
        </div>
        <div class="stars">
            <div class="stars-background"></div>
            <div class="stars-foreground"></div>
            <div class="stars-midground"></div>
        </div>
        <div :class="{'vertical-center': $route.name === 'home'}">
            <div class="container">
                <router-view/>
            </div>
        </div>


        <footer>
            <img src="https://www.schellgames.com/assets/images/logos/lucasfilm.png">
        </footer>
    </div>
</template>
<script>
    import coreCategoriesMixin from './mixins/categoriesMixin'

    export default {
        mixins: [coreCategoriesMixin],
        mounted() {

            this.$store.commit('clearSpecies');
            this.$store.commit('clearPlanets');
            this.$store.commit('clearStarships');
            this.$store.commit('clearCharacters');

            this.$store.dispatch('getSpecies');
            this.$store.dispatch('getPlanets');
            this.$store.dispatch('getStarships');
            this.$store.dispatch('getCharacters');
        }
    }
</script>
<style lang="scss">
    @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
    @import '~animate.css';
    @import './fonts/STARWARS/stylesheet.css';
    @import './style/colors.scss';
    @import './style/bstheme.scss';
    @import './style/stars.scss';
    @import './style/vertical-center.scss';

    html, body {
        overflow-x: hidden;
        background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: white;
        background: $backgroundColor;
        font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, sans-serif !important;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $brandingColor;
        font-family: STARWARS, Helvetica, sans-serif;
    }

    .sw-text {
        font-family: STARWARS, Helvetica, sans-serif;
    }

    .animated {
        -webkit-animation-duration: 0.3s;
        animation-duration: 0.3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

</style>
